/* Extend Shipping Protection */

#extend-shipping-offer {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 749px) {
    #extend-shipping-offer {
        justify-content: start;
    }
}